@import url('../mixins.css');

.change-region__title--visually-hidden {
    display: none;
}

.change-region__modal-window {
    @mixin flex-just-align start, start;
    @mixin responsive height, 555;
    @mixin responsive top, 78;
    @mixin responsive padding-top, 144;
    width: var(--main-container);
    background-color: var(--main-color);
    border: none;
    margin: 0 auto;
    height: 100%;
}

.change-region__modal-window::backdrop {
    backdrop-filter: none;
    box-shadow: none;
    background-color: transparent;
}

.change-region__title {
    @mixin text-serif var(--text-big), var(--bold-weight), 1; 
    text-align: left;
    color: var(--white-color);
}

.change-region__content {
    @mixin responsive gap, 64;
    display: flex;
    flex-direction: column;
}

.change-region__region-list {
    @mixin flex-just-align start, start;
}

.change-region__list {
    @mixin responsive column-gap, 88;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 2.1vw);
    row-gap: var(--item-gap);
    grid-auto-flow: column;
}

.change-region__item-list {
    @mixin flex-just-align start, start;
    padding: 0;
}

.change-region__item-button {
    @mixin text-sans var(--info-text-size), var(--normal-weight), 1;
    background: none;
    color: var(--white-color);
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: .5s;
}

.change-region__item-button:hover {
    transform: scale(1.1);
    color: var(--gray-color);
}

@media screen and (max-width: 576px) {
    .change-region__modal-window {
        @mixin responsive top, 46;
        @mixin responsive padding-top, 68;
        height: 100%;
        width: 100%;
        align-items: start;
    }

    .change-region__list {
        flex-wrap: wrap;
        width: 100%;
    }

    .change-region__title {
        font-size: var(--text-big);
    }

    .change-region__title {
        font-size: var(--info-text-size);
    }

    .change-region__item-button {
        font-size: var(--info-text-size);
        letter-spacing: -0.6px;
    }

    .change-region__list {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, clamp(8.4vw, 8.4vw, 26.9vw));
        @mixin responsive column-gap, 53;
        row-gap: var(--item-gap);
    }

    .change-region__content {
        @mixin responsive gap, 48;
    }

    .change-region__item-button:hover {
        transform: none;
    }
}