@import url('../mixins.css');

.choose-region-question__modal-window {
    @mixin responsive width, 297;
    @mixin responsive height, 131;
    @mixin responsive top, 76;
    @mixin responsive border-radius, 4;
    @mixin flex-just-align center, center;
    padding: 0;
    margin: 0;
    position: relative;
    left: calc(100% - 27.8vw);
    border: none;
    background-color: var(--white-color);
    overflow: visible;
    backdrop-filter: none;
    z-index: 10;
}

.choose-region-question__modal-window::after {
    @mixin responsive top, -7;
    content: '';
    position: absolute;
    left: 85%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0.7vw 0.7vw 0 0.7vw;
    border-color: var(--white-color) transparent transparent transparent;
    rotate: 180deg;
}

.choose-region-question__modal-window::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.choose-region-question__title--visually-hidden {
    display: none;
}

.choose-region-question__question {
    @mixin text-sans none, var(--normal-weight), 1;
    @mixin responsive font-size, 18;
}

.choose-region-question__agree-button {
    @mixin button 110, 40;
    @mixin text-sans var(--text-mini), var(--bold-weight), 1;
    border: 0.1vw solid var(--main-color);
    background: none;
    color: var(--main-color);
    cursor: pointer;
    appearance: none;
    text-align: center;
    padding: 0;
}

.choose-region-question__agree-button:focus {
    outline: none;
}

.choose-region-question__change-city-button {
    @mixin text-sans var(--text-mini), var(--normal-weight), 1;
    background: none;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
}

.choose-region-question__content {
    @mixin flex-just-align center, start;
    flex-direction: column;
    gap: var(--item-gap);
    height: 100%;
}

.choose-region-question__button-section {
    @mixin responsive gap, 16;
    @mixin flex-just-align none, center;
}

@media screen and (max-width: 992px) {
    .choose-region-question__modal-window {
        left: calc(100% - 40.2vw);
        @mixin responsive top, 72;
    }
}

@media screen and (max-width: 576px) {
    .choose-region-question__modal-window {
        @mixin responsive width, 288;
        @mixin responsive height, 131;
        @mixin responsive top, 60;
        left: 0;
        margin: 0 auto;
    }

    .choose-region-question__modal-window::after {
        @mixin responsive top, -30;
        left: 80%;
        border-width: 3.1vw 3.1vw 0 3.1vw;
    }

    .choose-region-question__agree-button {
        @mixin responsive border-radius, 48;
    }
}