@import url('../mixins.css');

.choose-region-question__modal-window {
    margin: 0;
    width: clamp(20.6vw, 20.6vw, 110.0vw);
    height: clamp(8.5vw, 8.5vw, 45.6vw);
    position: relative;
    top: 5.3vw;
    left: calc(100% - 27.8vw);
    border-radius: 0.3vw;
    border: none;
    background-color: var(--white-color);
    overflow: visible;
    backdrop-filter: none;
    z-index: 10;
}

.choose-region-question__modal-window::after {
    content: '';
    position: absolute;
    top: -0.7vw;
    left: 90%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0.7vw 0.7vw 0 0.7vw;
    border-color: var(--white-color) transparent transparent transparent;
    rotate: 180deg;
}

.choose-region-question__modal-window::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.choose-region-question__title--visually-hidden {
    display: none;
}

.choose-region-question__question {
    font-family: "Tele2 TextSans Regular";
    font-size: clamp(1.3vw, 1.3vw, 6.7vw);
    font-weight: var(--normal-weight);
}

.choose-region-question__agree-button {
    border: 0.1vw solid var(--main-color);
    background: none;
    width: clamp(7.6vw, 7.6vw, 40.7vw);
    height: clamp(2.8vw, 2.8vw, 14.8vw);
    color: var(--main-color);
    font-family: "Tele2 TextSans Regular";
    font-weight: var(--bold-weight);
    font-size: var(--text-mini);
    border-radius: var(--border-radius-button);
    cursor: pointer;
    appearance: none;
    text-align: center;
    padding: 0;
}

.choose-region-question__agree-button:focus {
    outline: none;
}

.choose-region-question__change-city-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--text-mini);
    font-weight: var(--normal-weight);
    height: clamp(1.7vw, 1.7vw, 8.9vw);
    font-family: "Tele2 TextSans Regular";
    background-color: white;
    color: black;
}

.choose-region-question__content {
    @mixin flex-just-align center, start;
    flex-direction: column;
    gap: var(--item-gap);
    height: 100%;
    padding-left: 1.1vw;
}

.choose-region-question__button-section {
    gap: 1.1vw;
    @mixin flex-just-align none, center;
}

@media screen and (max-width: 992px) {
    .choose-region-question__modal-window {
        width: clamp(29.9vw, 29.9vw, 43.4vw);
        left: calc(100% - 43.2vw);
        top: 7.3vw;
    }

    .choose-region-question__question {
        font-size: var(--text-mini);
    }

    .choose-region-question__agree-button {
        width: clamp(11.1vw, 11.1vw, 16.0vw);
        height: clamp(4.8vw, 4.8vw, 7.0vw);
    }

    .choose-region-question__change-city-button {
        font-size: var(--text-mini);
    }

    .choose-region-question__button-section {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .choose-region-question__modal-window {
        width: clamp(90.0vw, 90.0vw, 287.8vw);
        height: clamp(40.9vw, 40.9vw, 130.9vw);
        left: 0;
        margin: 0 auto;
        top: 15.6vw;
    }

    .choose-region-question__modal-window::after {
        left: 90%;
        border-width: 3.1vw 3.1vw 0 3.1vw;
    }

    .choose-region-question__question {
        font-size: var(--text-mini);
    }

    .choose-region-question__change-city-button {
        width: clamp(38.4vw, 38.4vw, 122.8vw);
        height: 7.5vw;
        letter-spacing: -1px;
    }

    .choose-region-question__agree-button {
        width: clamp(34.4vw, 34.4vw, 110.0vw);
        height: clamp(12.5vw, 12.5vw, 40.0vw);
        border-radius: clamp(15.0vw, 15.0vw, 47.8vw);
    }
}