.choose-region-question__modal-window {
    margin: 0;
    width: 297px;
    height: 123px;
    position: relative;
    top: 76px;
    left: calc(100% - 400px);
    border-radius: 4px;
    border: none;
    background-color: var(--white-color);
    overflow: visible;
    backdrop-filter: none;
}

.choose-region-question__modal-window::after {
    content: '';
    position: absolute;
    top: -10px; 
    left: 90%; 
    transform: translateX(-50%); 
    border-style: solid;
    border-width: 10px 10px 0 10px; 
    border-color: var(--white-color) transparent transparent transparent; 
    rotate: 180deg;
}

.choose-region-question__modal-window::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.choose-region-question__title--visually-hidden {
    display: none;
}

.choose-region-question__question {
    font-family: "Tele2 TextSans Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.choose-region-question__agree-button {
    border: 2px solid #1F2229;
    background: none;
    width: 110px;
    height: 40px;
    color: var(--main-color);
    font-family: "Tele2 TextSans Regular";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border-radius: var(--border-radius-button);
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center; 
    padding: 0;
}

.choose-region-question__agree-button:focus {
    outline: none;
}

.choose-region-question__change-city-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    height: 24px;
    font-family: "Tele2 TextSans Regular";
}

.choose-region-question__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    height: 100%;
}

@media screen and (max-width: 575px) {
    .choose-region-question__modal-window {
        width: 288px;
        height: 131px;
        left: 0;    
        margin: 0 auto;
    }

    .choose-region-question__modal-window::after {
        left: 90%;
    }
}