@import url('../mixins.css');

.main__participate-modal-window {
    background-color: var(--main-color);
    width: clamp(27.8vw, 27.8vw, 148.1vw);
    height: clamp(31.3vw, 31.3vw, 166.7vw);
    margin: auto;
    align-items: start;
    border: none;
    @mixin flex-just-center;
}

.main__participate-modal-window::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.main__participate-title--visually-hidden {
    display: none;
}

.main__processing-personal-data-agree-label {
    color: white;
}

.main__participate-modal-window-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: clamp(3.5vw, 3.5vw, 18.5vw);
}

.main__participate-close-button {
    border-radius: 50%;
    width: clamp(3.1vw, 3.1vw, 16.7vw);
    height: clamp(3.1vw, 3.1vw, 16.7vw);
    @mixin flex-just-center;
    align-items: center;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    transition: .5s;
}

.main__participate-close-button:hover {
    transform: scale(1.5);
}

.cross {
    width: clamp(3.1vw, 3.1vw, 16.7vw);
    height: clamp(3.1vw, 3.1vw, 16.7vw);
    transform: .5s;
}

.cross:hover {
    >path {
        fill: rgb(165, 25, 25);
    }
}

@media screen and (max-width: 992px) {
    .main__participate-modal-window {
        width: clamp(40.3vw, 40.3vw, 58.5vw);
        height: clamp(45.4vw, 45.4vw, 65.8vw);
    }

    .main__participate-close-button:hover {
        transform: none;
    }
}

@media screen and (max-width: 576px) {
    .main__participate-modal-window {
        width: clamp(96.9vw, 96.9vw, 310.0vw);
        height: clamp(140.6vw, 140.6vw, 450.0vw);
    }

    .main__participate-close-button {
        width: clamp(9.4vw, 9.4vw, 30.0vw);
        height: clamp(9.4vw, 9.4vw, 30.0vw);
    }

    .cross {
        width: clamp(9.4vw, 9.4vw, 30.0vw);
        height: clamp(9.4vw, 9.4vw, 30.0vw);
    }

    .main__participate-close-button:hover {
        transform: none;
    }
}