<article class="main__how-to-get-tariff-info-message fail">
  <div class="main__tariff-circle failed">
    !
  </div>
  <h3 class="info-message__text-mesage">
    На этот номер уже выслан промокод, на один номер можно получить один промокод
  </h3>
</article>