<article class="main__how-to-get-tariff-info-message">
  <img src="/tele2_landing/images/third_section/completed.svg" alt="Иконка выполненно" loading="lazy">
  <h3 class="info-messagage__text-mesage">
    Промокод был выслан на ваш номер
  </h3>
</article>