<article class="main__how-to-get-tariff-info-message successed">
  <div class="main__tariff-circle success">
    <img src="/tele2_landing/images/successed.svg" alt="галчока" class="successed-image">
  </div>
  <h3 class="info-message__text-message">
    Промокод был выслан на ваш номер
  </h3>
</article>