@import url('./mixins.css');

.main {
    width: 100%;
    @apply flex-just-center;
    align-items: center;
}

.main__container {
    width: var(--main-container);
    @apply flex-just-center;
    align-items: start;
    flex-direction: column;
    gap: var(--section-gap);
    margin: 3.9vw 0px var(--section-gap) 0px;
}