.main__tele2-site-information-title--visually-hidden {
    display: none;
}

.main__image-rate-title--visually-hidden {
    display: none;
}

.main__link-to-site-slogan {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-family: "Tele2 DisplaySerif Regular";
    margin-bottom: 30px;
}

.main__link-to-site-about {
    font-size: var(--info-text-size);
    font-weight: 400;
    line-height: 30px;
    font-family: "Tele2 TextSans Regular";
    margin-bottom: 48px;
}

.main__link-to-site-link {
    border-radius: var(--border-radius-button);
    width: 205px;
    height: 48px;
    border: none;
    font-family: "Tele2 TextSans Regular";
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    cursor: pointer;
}

.main__tele2-site-information {
    display: flex;
    gap: 118px;
    align-items: center;
    justify-content: flex-start;
}

.main__tele2-site-information-link-to-site {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.main__tele2-site-information-image-rate {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 575px) {
    .main__tele2-site-information {
        flex-direction: column;
        gap: 32px;
        padding: 0px 16px 0px 16px;
    }

    .rate-image {
        width: 230px;
        height: 239px;
    }
}
