@import url('../mixins.css');

.main__stocks-title--visually-hidden {
    display: none;
}

.main__stocks {
    @apply flex-start-start;
    gap: clamp(3.8vw, 3.8vw, 20.3vw);
}

.main__stocks-content {
    @apply flex-start-start;
    flex-direction: column;
}

.main__stocks-content-data-information {
    @apply text-normal-sans;
    margin-top: 1.9vw;
    margin-bottom: 3.3vw;
}

.main__stocks-content-title {
    font-family: "Standard CT Stencil";
    font-size: clamp(4.7vw, 4.7vw, 25.1vw);
    line-height: 1;
    margin-bottom: 1.7vw;
    width: clamp(33.1vw, 33.1vw, 176.7vw);
}

.stocks-content__title--benefit {
    color: var(--blue-color);
}

.main__stocks-content-about-rate-my-online {
    @apply text-normal-sans;
    line-height: 1.5;;
    margin-bottom: 3.9vw;
    width: clamp(23.6vw, 23.6vw, 125.9vw);
}

.main__stocks-content-participate-button {
    padding: 1.3vw 3.1vw 1.3vw 3.1vw;
    font-family: "Tele2 TextSans Regular";
    font-size: var(--text-mini);
    font-weight: var(--bold-weight);
    border-radius: 3.3vw;
    cursor: pointer;
    border: none;
    appearance: none;
    color: var(--black-color);
    transition: .5s;
}

.main__stocks-content-participate-button:hover {
    transform: scale(1.1);
    background-color: var(--gray-color);
}

.logo-boss {
    background: none;
    width: clamp(40.6vw, 40.6vw, 216.3vw);
}

@media screen and (max-width: 992px) {
    .main__stocks {
        gap: clamp(5.5vw, 5.5vw, 8.0vw);
    }

    .logo-boss {
        width: clamp(58.9vw, 58.9vw, 85.4vw);
    }

    .main__stocks-content-participate-button:hover {
        transform: none;
    }
}

@media screen and (max-width: 576px) {
    .main__stocks {
        display: flex;
        flex-direction: column;
        gap: clamp(15.0vw, 15.0vw, 47.8vw);
    }

    .main__stocks-content-data-information {
        margin-bottom: clamp(12.5vw, 12.5vw, 40.0vw);
        margin-top: 0;
        line-height: 1.5;
        font-size: var(--text-mini);
    }

    .main__stocks-content-title {
        font-size: clamp(11.3vw, 11.3vw, 35.9vw);
        text-align: left;
        margin-bottom: clamp(5.0vw, 5.0vw, 15.9vw);
        width: clamp(90.0vw, 90.0vw, 287.8vw);
    }

    .main__stocks-content-about-rate-my-online {
        margin-bottom: clamp(12.5vw, 12.5vw, 40.0vw);
        width: clamp(90.0vw, 90.0vw, 287.8vw);
        line-height: 1.5;
    }

    .logo-boss {
        width: clamp(98.8vw, 98.8vw, 315.9vw);
        height: clamp(104.1vw, 104.1vw, 332.8vw);
    }

    .main__stocks-content {
        padding: 0px 5.0vw 0px 5.0vw;
    }

    .main__stocks-content-participate-button {
        width: clamp(62.8vw, 62.8vw, 200.9vw);
        height: clamp(15.0vw, 15.0vw, 47.8vw);
        border-radius: clamp(15.0vw, 15.0vw, 47.8vw);
    }

    .main__stocks-content-participate-button:hover {
        transform: none;
    }
}