.main__tele2-site-information-title--visually-hidden {
    display: none;
}

.main__image-rate-title--visually-hidden {
    display: none;
}

.main__link-to-site-slogan {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-family: "Tele2 DisplaySerif Regular";
    margin-bottom: 30px;
}

.main__link-to-site-about {
    font-size: var(--info-text-size);
    font-weight: 400;
    line-height: 30px;
    font-family: "Tele2 TextSans Regular";
    width: 513px;
}

.main__link-to-site-link {
    border-radius: var(--border-radius-button);
    width: 205px;
    height: 48px;
    border: none;
    font-family: "Tele2 TextSans Regular";
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    cursor: pointer;
}

.main__tele2-site-information {
    display: grid;
    grid-template-columns: 513px 359px;
    column-gap: 118px;
}

.main__tele2-site-information-about {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 51px;
}

.rate-image {
    width: 359px;
    height: 373px;
}

.main__tele2-site-information-link-to-site {
    grid-column: 1/2;
    
}

.main__tele2-site-information-image-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/2;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 1178px) {
    .main__tele2-site-information {
        grid-template-columns: auto auto;
    }
    .rate-image {
        width: 270px;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .main__tele2-site-information {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .main__tele2-site-information {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0px 16px 0px 16px;
    }

    .main__link-to-site-slogan {
        margin-bottom: 16px;
        font-size: 24px;
    }

    .rate-image {
        width: 230px;
        height: 239px;
    }

    .main__link-to-site-slogan {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .main__tele2-site-information-link-to-site {
        order: 2;
        display: flex;
        justify-content: center;
    }

    .main__tele2-site-information-about {
        padding-top: 0;
    }

    .main__link-to-site-about {
        margin-bottom: 32px;
        width: 288px;
    }

    .main__link-to-site-about::after {
        content: ' Теперь вы получите 1 ТБ  на ваш телефон при подключении тарифа «Мой онлайн+».'
    }

    .main__tele2-site-information-image-rate {
        margin-bottom: 48px;
    }
}
