.main__tele2-site-information-title--visually-hidden {
    display: none;
}

.main__image-rate-title--visually-hidden {
    display: none;
}

.main__link-to-site-slogan {
    font-size: var(--text-big);
    font-weight: var(--bold-weight);
    line-height: calc(var(--line-height-52) / var(--text-big));
    font-family: "Tele2 DisplaySerif Regular";
    margin-bottom: clamp(2.1vw, 2.1vw, 11.1vw);
}

.main__link-to-site-about {
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
    line-height: calc(var(--line-height-30) / var(--info-text-size));
    font-family: "Tele2 TextSans Regular";
    width: clamp(35.6vw, 35.6vw, 190.0vw);
}

.main__link-to-site-link {
    border-radius: var(--border-radius-button);
    width: clamp(14.2vw, 14.2vw, 75.9vw);
    height: clamp(3.3vw, 3.3vw, 17.8vw);
    border: none;
    font-family: "Tele2 TextSans Regular";
    font-size: var(--text-mini);
    line-height: calc(var(--line-height-22) / var(--text-mini));
    font-weight: var(--bold-weight);
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--black-color);
}

.main__tele2-site-information {
    display: grid;
    grid-template-columns: clamp(35.6vw, 35.6vw, 190.0vw) clamp(24.9vw, 24.9vw, 132.9vw);
    column-gap: clamp(8.2vw, 8.2vw, 43.7vw);
}

.main__tele2-site-information-about {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: clamp(3.5vw, 3.5vw, 18.9vw);
}

.rate-image {
    width: clamp(24.9vw, 24.9vw, 132.9vw);
    height: clamp(25.9vw, 25.9vw, 138.1vw);
}

.main__tele2-site-information-link-to-site {
    grid-column: 1/2;

}

.main__tele2-site-information-image-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/2;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 1178px) {
    .main__tele2-site-information {
        grid-template-columns: auto auto;
    }

    .rate-image {
        width: 270px;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .main__tele2-site-information {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .main__link-to-site-slogan {
        margin-bottom: 16px;
        width: 575px;
    }

    .main__tele2-site-information-link-to-site {
        order: 2;
        display: flex;
        justify-content: center;
    }

    .main__tele2-site-information-about {
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .main__tele2-site-information {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0px 16px 0px 16px;
    }

    .main__link-to-site-slogan {
        margin-bottom: 16px;
        font-size: 24px;
        width: auto;
    }

    .rate-image {
        width: 230px;
        height: 239px;
    }

    .main__tele2-site-information-link-to-site {
        order: 2;
        display: flex;
        justify-content: center;
    }

    .main__tele2-site-information-about {
        padding-top: 0;
    }

    .main__link-to-site-about {
        margin-bottom: 32px;
        width: 288px;
    }

    .main__link-to-site-about::after {
        content: 'Теперь вы получите 1 ТБ на ваш телефон при подключении тарифа «Мой онлайн+».'
    }

    .main__tele2-site-information-image-rate {
        margin-bottom: 48px;
    }
}