.main__tele2-site-information-title--visually-hidden {
    display: none;
}

.main__image-rate-title--visually-hidden {
    display: none;
}

.main__link-to-site-slogan {
    font-size: var(--text-big);
    font-weight: var(--bold-weight);
    line-height: 1.5;
    font-family: "Tele2 DisplaySerif Regular";
    margin-bottom: clamp(2.1vw, 2.1vw, 11.1vw);
}

.main__link-to-site-about {
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
    line-height: 1.5;
    font-family: "Tele2 TextSans Regular";
    width: clamp(35.6vw, 35.6vw, 190.0vw);
}

.main__link-to-site-link {
    border-radius: var(--border-radius-button);
    width: clamp(14.2vw, 14.2vw, 75.9vw);
    height: clamp(3.3vw, 3.3vw, 17.8vw);
    border: none;
    font-family: "Tele2 TextSans Regular";
    font-size: var(--text-mini);
    font-weight: var(--bold-weight);
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 1.0vw 3.1vw;
    text-decoration: none;
}

.main__tele2-site-information {
    display: grid;
    grid-template-columns: clamp(35.6vw, 35.6vw, 190.0vw) clamp(24.9vw, 24.9vw, 132.9vw);
    column-gap: clamp(8.2vw, 8.2vw, 43.7vw);
}

.main__tele2-site-information-about {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: clamp(3.5vw, 3.5vw, 18.9vw);
}

.rate-image {
    width: clamp(24.9vw, 24.9vw, 132.9vw);
    height: clamp(25.9vw, 25.9vw, 138.1vw);
}

.main__tele2-site-information-link-to-site {
    grid-column: 1/2;

}

.main__tele2-site-information-image-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/2;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media screen and (max-width: 576px) {
    .main__tele2-site-information {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0px 5.0vw 0px 5.0vw;
    }

    .main__link-to-site-slogan {
        margin-bottom: clamp(5.0vw, 5.0vw, 15.9vw);
        font-size: clamp(7.5vw, 7.5vw, 23.8vw);
        width: auto;
    }

    .rate-image {
        width: clamp(71.9vw, 71.9vw, 230.0vw);
        height: clamp(74.7vw, 74.7vw, 238.8vw);
    }

    .main__tele2-site-information-link-to-site {
        order: 2;
        display: flex;
        justify-content: center;
    }

    .main__tele2-site-information-about {
        padding-top: 0;
    }

    .main__link-to-site-about {
        margin-bottom: clamp(10.0vw, 10.0vw, 31.9vw);
        width: clamp(90.0vw, 90.0vw, 287.8vw);
    }

    .main__link-to-site-about::after {
        content: 'Теперь вы получите 1 ТБ на ваш телефон при подключении тарифа «Мой онлайн+».'
    }

    .main__tele2-site-information-image-rate {
        margin-bottom: clamp(15.0vw, 15.0vw, 47.8vw);
    }

    .main__link-to-site-link {
        width: clamp(64.1vw, 64.1vw, 205.0vw);
        height: clamp(15.0vw, 15.0vw, 47.8vw);
        border-radius: clamp(15.0vw, 15.0vw, 47.8vw);

    }
}