.main__rate-my-online {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: clamp(3.9vw, 3.9vw, 20.7vw);
}

.main__rate-my-online-title--visually-hidden {
    display: none;
}

.main__about-rate-title-slogan {
    font-family: "Tele2 DisplaySerif Regular";
    font-size: var(--text-big);
    font-weight: var(--bold-weight);
    margin-bottom: clamp(1.7vw, 1.7vw, 8.9vw);
}

.main__about-rate-text {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
    line-height: 1.6;
    width: clamp(45.8vw, 45.8vw, 244.4vw);
}

.main__rate-my-online-title--visually-hidden {
    display: none;
}

.main__rate-my-online-information-list {
    width: 100%;
}

.main__rate-my-online-list {
    display: flex;
    flex-direction: row;
    gap: clamp(3.9vw, 3.9vw, 20.7vw);
    justify-content: start;
}

.main__rate-my-online-list-item-title--visually-hidden {
    display: none;
}

.main__rate-my-online-list-item-information {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(1.1vw, 1.1vw, 6.0vw);
}

.main__rate-my-online-list-item-about-favico {
    width: clamp(5vw, 5vw, 26.7vw);
    height: clamp(5vw, 5vw, 26.7vw);
    border-radius: var(--border-radius-eclipse);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--line-color);
}

.main__rate-my-online-list-item-about-information {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
}

.favico-image {
    width: clamp(2.8vw, 2.8vw, 14.8vw);
}

@media screen and (max-width: 992px) {
    .main__about-rate-text {
        width: clamp(67.0vw, 67.0vw, 97.3vw);
    }

    .main__rate-my-online-list-item-about-favico {
        width: clamp(7.3vw, 7.3vw, 10.5vw);
        height: clamp(7.3vw, 7.3vw, 10.5vw);
    }

    .favico-image {
        width: clamp(4.0vw, 4.0vw, 5.8vw);
    }
}

@media screen and (max-width: 576px) {
    .main__rate-my-online {
        padding: 0px 4.9vw 0px 4.9vw;
        gap: clamp(11.3vw, 11.3vw, 35.9vw);
    }

    .main__about-rate {
        margin-bottom: 0;
    }

    .main__about-rate-title-slogan {
        width: clamp(90.0vw, 90.0vw, 287.8vw);
        line-height: 1.3;
        margin-bottom: clamp(5.0vw, 5.0vw, 15.9vw);
    }

    .main__about-rate-text {
        width: clamp(90.0vw, 90.0vw, 287.8vw);
        line-height: 1.6;
        margin-bottom: 0;
        padding: 0;
        letter-spacing: -0.5px;
    }

    .main__rate-my-online-list-item-information {
        gap: clamp(5.0vw, 5.0vw, 15.9vw);
    }

    .main__rate-my-online-list {
        display: flex;
        flex-direction: column;
    }

    .main__rate-my-online-list {
        gap: clamp(10.0vw, 10.0vw, 31.9vw);
    }

    .main__rate-my-online-list-item-about-favico {
        width: clamp(17.5vw, 17.5vw, 55.9vw);
        height: clamp(17.5vw, 17.5vw, 55.9vw);
    }

    .favico-image {
        width: clamp(10.0vw, 10.0vw, 31.9vw);
        height: clamp(10.0vw, 10.0vw, 31.9vw);
    }
}