.main__slider-title--visually-hidden {
    display: none;
}

[data-component="main__slider"] {
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

[data-component="main__slider"] {
    .main__slider-items {
        display: flex;
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
    }
}

[data-component="main__slider"] {
    & .main__slider-items {
        >li {
            flex: 0 0 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

[data-component="main__slider"] {
    & .main__slider-items {
        &>li {
            & img {
                display: block;
                width: 200px;
                border-radius: 48px;
                transition: .5s;
                cursor: pointer;
            }

            & img:hover {
                transform: scale(1.02);
            }
        }
    }
}

[data-component="main__slider"] {
    .main__slider-markers {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 1em;
        bottom: 1.5rem;
    }
}

[data-component="main__slider"] {
    & .main__slider-markers {
        & li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

[data-component="main__slider"] {
    & .main__slider-markers {
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background: var(--blue-color);
            border-radius: 5px;
            text-align: center;
            line-height: 20px;
            color: black;
            text-decoration: none;
            transition: .5s;
            font-family: "Tele2 TextSans Regular";
        }

        & .active a {
            background: white;
            box-shadow: 0px 0px 8px var(--blue-color);
        }
    }
}

.main__slider-contorls-container {
    display: flex;
}

.main__slider-contorls-container {
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.main__slider-control {
    width: 30px;
    height: 30px;
    background-color: white;
    font-family: "Tele2 TextSans Regular";
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    [data-component="main__slider"] {
        & .main__slider-items {
            &>li {
                & img {
                    display: block;
                    width: 150px;
                    border-radius: 48px;
                    transition: .5s;
                    cursor: pointer;
                }
            }
        }
    }

    [data-component="main__slider"] {
        position: relative;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
}

@media screen and (max-width: 576px) {
    [data-component="main__slider"] {
        & .main__slider-items {
            &>li {
                & img {
                    display: block;
                    width: 100px;
                    border-radius: 48px;
                    transition: .5s;
                    cursor: pointer;
                }
            }
        }
    }

    [data-component="main__slider"] {
        position: relative;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
}