.main__stocks-title--visually-hidden {
    display: none;
}

.main__logo-boss-title--visually-hidden {
    display: none;
}

.main__stocks {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 55px;
}

.main__stocks-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.main__stocks-content-data-information {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
    line-height: var(--line-height-30);
    margin-top: 27px;
    margin-bottom: 48px;
}

.main__stocks-content-title {
    font-family: "Standard CT Stencil";
    font-size: 68px;
    margin-bottom: 24px;
    width: 477px;
}

.stocks-content__title--benefit {
    color: var(--blue-color);
}

.main__stocks-content-about-rate-my-online {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
    line-height: var(--line-height-30);
    font-weight: var(--normal-weight);
    margin-bottom: 56px;
    width: 340px;
}

.main__stocks-content-participate-button {
    padding: 19px 44px 19px 44px;
    font-family: "Tele2 TextSans Regular";
    font-size: var(--text-mini);
    font-weight: var(--bold-weight);
    line-height: var(--line-height-22);
    border-radius: 48px;
    cursor: pointer;
    border: none;
    appearance: none;
    color: var(--black-color);
}

.logo-boss {
    background: none;
}

@media screen and (max-width: 1178px) {
    .logo-boss {
        width: 450px;
    }
}

@media screen and (max-width: 1024px) {
    .main__stocks {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .logo-boss {
        width: 575px;
    }
}

@media screen and (max-width: 576px) {
    .main__stocks {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    
    .main__stocks-content-data-information {
        margin: 0px 0px 40px 0px;
        line-height: 24px;
        font-size: var(--text-mini);
    }

    .main__stocks-content-title {
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        margin-bottom: 16px;
        width: 288px;
    }

    .main__stocks-content-about-rate-my-online {
        margin-bottom: 40px;
        width: 288px;
        line-height: 27px;
    }

    .logo-boss {
        width: 316px;
    }

    .main__stocks-content {
        padding: 0px 16px 0px 16px;
    }
}