@import url('../mixins.css');

.main__how-to-get-tariff-title--visually-hidden {
    display: none;
}

.main__how-to-get-tariff-slogan {
    @mixin text-serif var(--text-big), var(--bold-weight), 1.3;
    @mixin responsive margin-bottom, 64;
    grid-column: 1/2;
}

.first-offer {
    @mixin responsive width, 432;
}

.second-offer {
    @mixin responsive width, 494;
}

.third-offer {
    @mixin responsive width, 387;
}

.main__how-to-get-tariff-slogan--benefit {
    color: var(--blue-color);
}

.main__step-title {
    @mixin text-serif var(--text-big), var(--bold-weight), 1;
    color: var(--blue-color);
}

.main__how-to-get-tariff-list-steps {
    @mixin flex-just-align start, start;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2/2;
}

.main__how-to-get-tariff-processing-personal-data {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.main__processing-personal-data-input-tel {
    @mixin text-sans var(--text-mini), var(--normal-weight), 1;
    @mixin responsive padding-top, 3;
    @mixin responsive padding-bottom, 5;
    @mixin responsive margin-bottom, 31;
    display: flex;
    flex-direction: column-reverse;
}

.main__processing-personal-data-input-tel:-internal-autofill-selected {
    background: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}

.main__how-to-get-tariff {
    @mixin responsive column-gap, 132;
    display: grid;
    grid-template-columns: clamp(24.2vw, 24.2vw, 128.9vw) clamp(41.5vw, 41.5vw, 221.5vw);
    position: relative;
}

.main__step-eclipse {
    @mixin eclipse 80, 80;
    @mixin flex-just-align center, center;
    @mixin text-serif var(--text-big), var(--bold-weight), 1;
    background: none;
    border: 0.1vw solid var(--line-color);
    color: var(--blue-color);
}

.main__how-to-get-tariff-list {
    @mixin flex-just-align start, none;
    @mixin responsive gap, 32;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__item-step {
    @mixin flex-just-align start, center;
    flex-direction: row;
    gap: var(--item-gap);
    width: 100%;
}

.main__step-description {
    @mixin text-sans var(--info-text-size), var(--normal-weight), 1.5;
}

.main__processing-personal-data-tel-label {
    @mixin text-sans none, var(--normal-weight), 1;
    @mixin responsive font-size, 13;
    color: var(--data-color);
}

.main__processing-personal-data-input-tel {
    @mixin text-sans var(--text-mini), var(--normal-weight), 1;
    background: none;
    border: none;
    border-bottom: 0.1vw solid var(--line-color);
    color: var(--white-color);
}

.main__processing-personal-data-input-tel:focus {
    outline: none;
}

.main__processing-personal-data-agreement {
    @mixin flex-just-align none, start;
    @mixin responsive gap, 8;
}

.main__processing-personal-data-agree {
    @mixin responsive width, 24;
    @mixin responsive height, 24;
    appearance: none;
    margin: 0;
    border: 0.1vw solid var(--white-color);
    cursor: pointer;
}

.main__processing-personal-data-agree:checked {
    background-image: url('/tele2_landing/images/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    @mixin responsive background-size, 12;
}

.main__processing-personal-data-agree-label {
    @mixin text-sans var(--text-mini), var(--normal-weight), 1.6;
    @mixin responsive width, 316;
}

.main__processing-personal-data-submit {
    @mixin button 218, 48;
    @mixin text-sans var(--text-mini), var(--bold-weight), 1;
    @mixin responsive margin-top, 32;
    cursor: pointer;
    appearance: none;
    background-color: white;
    color: black;
    transition: .5s;
}

.main__processing-personal-data-submit:hover {
    transform: scale(1.1);
    background-color: var(--gray-color);
}

.main__how-to-get-tariff-info-message {
    @mixin flex-just-align start, center;
    @mixin responsive gap, 12;
    @mixin responsive padding, 12;
    @mixin responsive border-radius, 8;
    @mixin responsive margin-top, 48;
    background-color: var(--info-message-color);
}

.main__info-message-text-message {
    @mixin text-sans none, var(--normal-weight), 1;
    @mixin responsive font-size, 14;
    @mixin responsive width, 288;
    color: var(--white-color);
}

.main__processing-personal-data-input-tel-block {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.main__how-to-get-tariff-title--visually-hidden {
    display: none;
}

.main__info-message-phone {
    display: none;
}

.main__tariff-circle {
    @mixin eclipse 24, 24;
    @mixin flex-just-align center, center;
}

.success {
    background-color: var(--blue-color);
}

.failed {
    @mixin text-sans none, var(--normal-weight), 1;
    @mixin responsive font-size, 14;
    background-color: var(--failed-message-background-color);
    color: var(--failed-message-color);
}

.fail {
    align-items: start;
}

.main__step-description-link {
    color: var(--white-color);
}

.main__step-description-link:visited {
    color: var(--white-color);
}

.main__processing-link {
    color: var(--white-color);
}

.main__processing-link:visited {
    color: var(--white-color);
}

.successed-image {
    @mixin responsive width, 9;
}

@media screen and (max-width: 992px) {
    .main__how-to-get-tariff {
        @mixin responsive column-gap, 35;
        grid-template-columns: auto auto;
    }

    .first-offer {
        @mixin responsive width, 430;
    }

    .second-offer {
        @mixin responsive width, 450;
    }

    .third-offer {
        @mixin responsive width, 430;
    }

    .main__processing-personal-data-submit:hover {
        transform: none;
    }
}

@media screen and (max-width: 576px) {
    .main__how-to-get-tariff {
        @mixin responsive gap, 40;
        @mixin responsive padding-left, 16;
        @mixin responsive padding-right, 16;
        display: flex;
        flex-direction: column;
    }

    .main__processing-personal-data-submit:hover {
        transform: none;
    }

    .main__how-to-get-tariff-list {
        @mixin responsive gap, 32;
    }

    .main__item-step {
        flex-direction: column;
        align-items: start;
    }

    .main__how-to-get-tariff-slogan {
        line-height: 1.4;
        order: 0;
        margin: 0;
    }

    .main__how-to-get-tariff-list-steps {
        order: 0;
    }

    .main__how-to-get-tariff-processing-personal-data {
        order: 1;
    }

    .main__processing-personal-data-submit {
        @mixin responsive border-radius, 48; 
        justify-self: center;
    }

    .main__processing-personal-data-agreement {
        @mixin responsive margin-top, 24;
    }

    .main__processing-personal-data-agree:checked {
        background-size: clamp(3.8vw, 3.8vw, 11.9vw);
    }

    .main__submit-form {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .first-offer {
        @mixin responsive width, 288;
    }

    .second-offer {
        @mixin responsive width, 272;
    }

    .third-offer {
        @mixin responsive width, 272;
    }

    .main__processing-personal-data-agree-label {
        width: clamp(70.6vw, 70.6vw, 225.9vw);
        line-height: 1.4;
    }

    .main__step-eclipse {
        @mixin eclipse 56, 56;
        font-size: var(--text-big);
    }

    .main__info-message-phone {
        display: block;
    }

    .main__processing-personal-data-input-tel {
        order: 2;
        margin-bottom: 2.5vw;
    }

    .main__processing-personal-data-tel-label {
        @mixin responsive margin-bottom, 8;
        order: 2;
        font-size: clamp(4.1vw, 4.1vw, 12.8vw);
    }

    .main__info-message-phone {
        order: 0;
        margin: 0;
    }

    .main__info-message-computers {
        display: none;
    }

    .main__info-message-phone {
        @mixin responsive width, 250;
        display: block;
    }

    .main__how-to-get-tariff-info-message {
        background: none;
    }

    .main__tariff-circle {
        @mixin eclipse 12, 12;
    }

    .success {
        background-color: var(--success-color);
    }

    .main__how-to-get-tariff-info-message {
        margin: 0;
    }

    .failed {
        @mixin text-sans none, var(--normal-weight), 1;
        @mixin responsive font-size, 8;
    }

    .fail {
        color: var(--failed-message-background-color);
    }

    .successed-image {
        @mixin responsive width, 5;
        @mixin responsive height, 5;
    }

    .successed {
        color: var(--success-color);
    }

    .main__how-to-get-tariff-info-message {
        padding: 0;
        @mixin responsive gap, 7;
    }

    .main__info-message-text-message {
        @mixin responsive width, 268;
    }
}