.footer__title--visually-hidden {
    display: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__container {
    width: var(--main-container);
}

.footer__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vw solid var(--line-color);
    padding-bottom: 0.8vw;
}

.footer__navigation-list {
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

.footer__upper-terms-stonk {
    display: flex;
    align-items: center;
    gap: 0.8vw;
}

.footer__terms-stonk-eclipse {
    width: clamp(2.2vw, 2.2vw, 11.8vw);
    height: clamp(2.2vw, 2.2vw, 11.8vw);
    border-radius: var(--border-radius-eclipse);
    border: 0.1vh solid var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tele2 TextSans Regular";
    font-size: clamp(0.8vw, 0.8vw, 4.4vw);
    font-weight: var(--bold-weight);
}

.footer__terms-stonk-title {
    font-family: "Tele2 TextSans Regular";
    font-size: clamp(0.9vw, 0.9vw, 4.8vw);
    font-weight: var(--normal-weight);
}

.footer__lower {
    display: flex;
    justify-content: space-between;
    padding: 2.9vw 0px 3.3vw 0px;
}

.footer__lower-copywriting {
    display: flex;
    gap: var(--item-gap);
    align-items: center;
}

.footer__copy {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--text-mini);
    font-weight: var(--normal-weight);
    color: var(--white-color);
}

.footer__lower-made-by {
    display: flex;
    align-items: center;
    gap: var(--item-gap);
}

.footer__made {
    font-family: "Tele2 TextSans Regular";
    font-size: clamp(0.9vw, 0.9vw, 4.8vw);
    font-weight: var(--normal-weight);
    color: var(--white-color);
}

.twitter {
    width: clamp(1.7vw, 1.7vw, 9.2vw);
}

.vk {
    width: clamp(1.9vw, 1.9vw, 10.0vw);
}

.facebook {
    width: clamp(0.9vw, 0.9vw, 4.8vw);
}

.chulakov-logo {
    width: clamp(9.7vw, 9.7vw, 51.8vw);
}

@media screen and (max-width: 992px) {
    .vk {
        width: clamp(2.7vw, 2.7vw, 3.9vw);
    }

    .twitter {
        width: clamp(2.5vw, 2.5vw, 3.6vw);
    }

    .facebook {
        width: clamp(1.3vw, 1.3vw, 1.8vw);
    }

    .footer__terms-stonk-title {
        font-size: clamp(1.3vw, 1.3vw, 1.8vw);
    }

    .footer__terms-stonk-eclipse {
        width: clamp(3.2vw, 3.2vw, 4.6vw);
        height: clamp(3.2vw, 3.2vw, 4.6vw);
        font-size: clamp(1.2vw, 1.2vw, 1.7vw);
    }

    .footer__made {
        font-size: clamp(1.3vw, 1.3vw, 1.8vw);
    }

    .chulakov-logo {
        width: clamp(14.1vw, 14.1vw, 20.5vw);
    }
}

@media screen and (max-width: 576px) {
    .footer__lower-made-by {
        display: none;
    }

    .footer__upper {
        padding: 0px 3.1vw 2.5vw 3.1vw;
    }

    .footer__lower {
        padding: 8.4vw 5.0vw 0px 5.0vw;
    }

    .facebook {
        width: clamp(2.5vw, 2.5vw, 7.8vw);
    }

    .twitter {
        width: clamp(5.6vw, 5.6vw, 17.8vw);
    }

    .vk {
        width: clamp(6.3vw, 6.3vw, 20.0vw);
    }

    .footer__navigation-list {
        gap: clamp(2.2vw, 2.2vw, 6.9vw);
    }

    .footer__upper-terms-stonk {
        gap: clamp(5.0vw, 5.0vw, 15.9vw);
    }

    .footer__terms-stonk-title {
        font-size: clamp(4.1vw, 4.1vw, 12.8vw);
    }

    .footer__terms-stonk-eclipse {
        width: clamp(10.0vw, 10.0vw, 31.9vw);
        height: clamp(10.0vw, 10.0vw, 31.9vw);
        font-size: clamp(3.8vw, 3.8vw, 11.9vw);
    }
}