.footer__title--visually-hidden {
    display: none;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__container {
    width: var(--main-container);
}

.footer__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding-bottom: 12px;
}

.footer__navigation-list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__upper-terms-stonk {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__terms-stonk-eclipse {
    width: 32px;
    height: 32px;
    border-radius: var(--border-radius-eclipse);
    border: 2px solid var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tele2 TextSans Regular";
    font-size: 12px;
    font-weight: var(--bold-weight);
    line-height: 14px;
}

.footer__terms-stonk-title {
    font-family: "Tele2 TextSans Regular";
    line-height: 18px;
    font-size: 13px;
    font-weight: var(--normal-weight);
}

.footer__lower {
    display: flex;
    justify-content: space-between;
    padding: 42px 0px 47px 0px;
}

.footer__lower-copywriting {
    display: flex;
    gap: var(--item-gap);
    align-items: center;
}

.footer__copy {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--text-mini);
    line-height: var(----line-height-22);
    font-weight: var(--normal-weight);
    color: var(--white-color);
}

.footer__lower-made-by {
    display: flex;
    align-items: center;
    gap: var(--item-gap);
}

.footer__made {
    font-family: "Tele2 TextSans Regular";
    font-size: 13px;
    line-height: var(--line-height-22);
    font-weight: var(--normal-weight);
    color: var(--white-color);
}

@media screen and (max-width: 1024px) {
    .footer__lower {
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer__lower-copywriting {
        width: 100%;
        justify-content: space-between;
    }

    .footer__lower-made-by {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 576px) {
    .footer__lower-made-by {
        display: none;
    }

    .footer__upper {
        padding: 0px 10px 8px 10px;
    }

    .footer__lower {
        padding: 27px 16px 0px 16px;
    }
}