.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    border-bottom: 1px solid #39404C;
}

.header__container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title--visually-hidden {
    display: none;
}

.header__geoposition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header__geoposition-button {
    background: none;
    border: none;
    font-family: "Tele2 TextSans Regular";
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}