.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(5.3vw, 5.3vw, 28.1vw);
    border-bottom: 0.1vw solid var(--line-color);
}

.header__container {
    width: 100%;
    padding: 0px 2.1vw 0px 2.2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tele2-logo {
    width: clamp(5.5vw, 6.1vw, 32.6vw);
}

.geoposition-image {
    width: clamp(1.7vw, 2.2vw, 11.8vw);
}

.header__title--visually-hidden {
    display: none;
}

.header__geoposition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
}

.header__geoposition-button {
    background: none;
    border: none;
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
    color: var(--white-color);
    padding: 0;
    margin: 0;
    line-height: calc(var(--line-height-30) var(--info-text-size));
    cursor: pointer;
}

.header__modal-container {
    position: absolute;
}

@media screen and (max-width: 576px) {
    .header {
        height: clamp(14.1vw, 14.1vw, 45vw);
    }

    .header__container {
        padding: 0px 5vw 0px 4.4vw;
    }

    .tele2-logo {
        width: clamp(15vw, 15vw, 47.8vw);
    }

    .geoposition-image {
        width: clamp(7.5vw, 7.5vw, 23.8vw);
    }

    .header__geoposition-button {
        line-height: 27px;
        text-align: left;
    }
}