.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: var(--main-container);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: var(--section-gap);
    margin: 3.9vw 0px var(--section-gap) 0px;
}