

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: var(--main-container);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: var(--section-gap);
    margin: 56px 0px var(--section-gap) 0px;
}

@media screen and (max-width: 575px) {
    .main__container {
        width: var(--main-container);
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: var(--section-gap);
        margin: 24px 0px var(--section-gap) 0px;
    }
    
}