@define-mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@define-mixin flex-start-start {
    display: flex;
    justify-content: start;
    align-items: start;
}

@define-mixin flex-just-start {
    display: flex;
    justify-content: start;
}

@define-mixin flex-align-center {
    display: flex;
    align-items: center;
}

@define-mixin flex-just-center {
    display: flex;
    justify-content: center;
}

@define-mixin text-normal-sans {
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
}

@define-mixin text-big-bold-serif {
    font-size: var(--text-big);
    font-weight: var(--bold-weight);
    font-family: "Tele2 DisplaySerif Regular";
}

@define-mixin text-normal-sans-no-font {
    font-weight: var(--normal-weight);
    font-family: "Tele2 TextSans Regular";
}