.main__stocks-title--visually-hidden {
    display: none;
}

.main__logo-boss-title--visually-hidden {
    display: none;
}

.main__stocks {
    margin: 56px 0px 148px 0px;
    display: flex;
    justify-content: start;   
    align-items: start;
    gap: 192px;
}

.main__stocks-content {
    display: flex;
    flex-direction: column;
    height: 551px;
    justify-content: start;
    align-items: start;
}

.main__stocks-content-data-information {
    font-family: "Tele2 TextSans Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 27px;
    margin-bottom: 48px;
}

.main__stocks-content-title {
    font-family: "Standard CT Stencil";
    font-size: 68px;
    margin-bottom: 24px;
}

.stocks-content__title--benefit {
    color: #48ccfd;
}

.main__stocks-content-about-rate-my-online {
    font-family: "Tele2 TextSans Regular";
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 56px;
}

.main__stocks-content-participate-button {
    padding: 19px 44px 19px 44px;
    font-family: "Tele2 TextSans Regular";
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 48px;
    cursor: pointer;
    border: none;
}