@import url('./root.css');
@import url('./fonts.css');
@import url('./unstyle.css');
@import url('./keyframes.css');

@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

@import url('./sections/stocks.css');
@import url('./sections/rate.css');
@import url('./sections/tariff.css');
@import url('./sections/slider.css');
@import url('./sections/information.css');

@import url('./modal/change_region.css');
@import url('./modal/participate.css');
@import url('./modal/choose_region.css');
@import url('./modal/user_poppup.css');

@import url('./scroll_button.css');


body {
    background-color: var(--main-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
    overflow: hidden;
    padding-right: 17px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white-color);
    -webkit-box-shadow: 0 0 0px 40rem var(--main-color) inset;
}