@import url('./root.css');
@import url('./fonts.css');
@import url('./unstyle.css');

@import url('./formatted/header.css');
@import url('./formatted/main.css');
@import url('./formatted/footer.css');
@import url('./formatted/sections/stocks.css');
@import url('./formatted/sections/rate.css');
@import url('./formatted/sections/tariff.css');
@import url('./formatted/sections/slider.css');
@import url('./formatted/modal/change_region.css');
@import url('./formatted/modal/participate.css');

@import url('./neednt_format/information.css');
@import url('./neednt_format/choose_region.css');
@import url('./neednt_format/scroll_button.css');



body {
    background-color: var(--main-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
    overflow: hidden;
    padding-right: 17px !important;
}