@mixin flex-start-start {
    display: flex;
    justify-content: start;
    align-items: start;
}

.change-region__title--visually-hidden {
    display: none;
}

.change-region__modal-window {
    width: var(--main-container);
    background-color: var(--main-color);
    height: clamp(38.5vw, 38.5vw, 205.1vw);
    border: none;
    padding: 0;
    @apply flex-start-start;
    margin: 0 auto;
    padding-top: 10.0vw;
    top: 5.4vw;
    height: 100%;
}

.change-region__modal-window::backdrop {
    backdrop-filter: none;
    box-shadow: none;
    background-color: transparent;
}

.change-region__title {
    font-family: "Tele2 DisplaySerif Regular";
    font-size: var(--text-big);
    font-weight: var(--bold-weight);
    text-align: left;
    color: var(--white-color);
}

.change-region__content {
    display: flex;
    gap: 6.1vw;
    flex-direction: column;
    gap: 4.4vw;
}

.change-region__region-list {
    @apply flex-start-start;
}

.change-region__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 2.1vw);
    column-gap: 6.1vw;
    row-gap: var(--item-gap);
    grid-auto-flow: column;
}

.change-region__item-list {
    @apply flex-start-start;
    padding: 0;
}

.change-region__item-button {
    background: none;
    color: var(--white-color);
    font-family: "Tele2 TextSans Regular";
    font-size: var(--info-text-size);
    font-weight: var(--normal-weight);
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 0;
    letter-spacing: -1px;
}

@media screen and (max-width: 992px) {
    .change-region__modal-window {
        top: clamp(7.9vw, 7.9vw, 11.4vw);
    }
}

@media screen and (max-width: 576px) {
    .change-region__modal-window {
        top: clamp(24.4vw, 24.4vw, 77.8vw);
        height: 100%;
        width: clamp(100.0vw, 100.0vw, 320.0vw);
        align-items: start;
        padding-top: clamp(20.0vw, 20.0vw, 63.7vw);
    }

    .change-region__list {
        flex-wrap: wrap;
        width: 100%;
    }

    .change-region__title {
        font-size: clamp(7.5vw, 7.5vw, 23.8vw);
    }

    .change-region__title {
        font-size: var(--info-text-size);
    }

    .change-region__item-button {
        font-size: var(--info-text-size);
    }

    .change-region__list {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(6, clamp(8.4vw, 8.4vw, 26.9vw));
        column-gap: clamp(16.6vw, 16.6vw, 52.8vw);
        row-gap: var(--item-gap);
    }

    .change-region__content {
        gap: clamp(15.0vw, 15.0vw, 47.8vw);
    }
}