<section class="main__rate-my-online">
  <h2 class="main__rate-my-online-title--visually-hidden">
    Секция о тарифе «Мой онлайн+»
  </h2>
  <article class="main__about-rate">
    <h3 class="main__about-rate-title-slogan">
      Один терабайт - много любимых развлечений
    </h3>
    <p class="main__about-rate-text">
      Подарок получают только новые абоненты при подключении услуг Tele2
      с тарифом «Мой онлайн+». Трафик расходуется в течение года.
    </p>
  </article>
  <article class="main__rate-my-online-information-list">
    <h2 class="main__rate-my-online-title--visually-hidden">
      Список преимуществ тарифа
    </h2>
    <ul class="main__rate-my-online-list">
      <li class="main__rate-my-online-list-item">
        <article class="main__rate-my-online-list-item-information">
          <h4 class="main__rate-my-online-list-item-title--visually-hidden">
            О видео
          </h4>
          <div class="main__rate-my-online-list-item-about-favico">
            <img src="/images/second_section/yt.svg" alt="Изображение видео" class="favico-image">
          </div>
          <p class="main__rate-my-online-list-item-about-information">
            Около 500 часов видео
          </p>
        </article>
      </li>
      <li class="main__rate-my-online-list-item">
        <article class="main__rate-my-online-list-item-information">
          <h4 class="main__rate-my-online-list-item-title--visually-hidden">
            О музыке
          </h4>
          <div class="main__rate-my-online-list-item-about-favico">
            <img src="/images/second_section/headphones.svg" alt="Изображение наушников" class="favico-image">
          </div>
          <p class="main__rate-my-online-list-item-about-information">
            Примерно 200 000 песен
          </p>
        </article>
      </li>
      <li class="main__rate-my-online-list-item">
        <article class="main__rate-my-online-list-item-information">
          <h4 class="main__rate-my-online-list-item-title--visually-hidden">
            О фото
          </h4>
          <div class="main__rate-my-online-list-item-about-favico">
            <img src="/images/second_section/photocard.svg" alt="Изображение фото" class="favico-image">
          </div>
          <p class="main__rate-my-online-list-item-about-information">
            Порядка 300 000 фото
          </p>
        </article>
      </li>
    </ul>
  </article>
</section>