<section class="main__stocks">
  <h2 class="main__stocks-title--visually-hidden">
    Раздел акции
  </h2>
  <article class="main__stocks-content">
    <p class="main__stocks-content-data-information">
      Акция продлится с 1 по 20 сентября
    </p>
    <h3 class="main__stocks-content-title">
      ЭТО ВАША<br>
      <span class="stocks-content__title--benefit">
        ВЫГОДА!
      </span>
    </h3>
    <p class="main__stocks-content-about-rate-my-online">
      Тариф «Мой онлайн+» и 1 ТБ трафика<br>
      в подарок для новых абонентов
    </p>
    <button class="main__stocks-content-participate-button">
      Принять участие
    </button>
  </article>
  <article class="main__logo-boss">
    <h3 class="main__logo-boss-title--visually-hidden">
      Изображение TELE2-босса
    </h3>
    <img src="/images/first_section/boss.svg" alt="" class="logo-boss">
  </article>
</section>