<section class="main__how-to-get-tariff">
  <h2 class="main__how-to-get-tariff-slogan">
    Несколько шагов<br>
    <span class="main__how-to-get-tariff-slogan--benefit">
      и 1 ТБ - ваш
    </span>
  </h2>
  <article class="main__how-to-get-tariff-personal-data">
    <h3 class="main__how-to-get-tariff-title--visually-hidden">
      Как получить тариф «Мой онлайн+»
    </h3>
    <form action="GET" class="main__how-to-get-tariff-processing-personal-data">
      <div class="main__processing-personal-data-input-tel">
        <input type="tel" id="phone" class="main__processing-personal-data-input-tel">
        <label for="phone" class="main__processing-personal-data-tel-label">
          Номер телефона
        </label>
      </div>
      <div class="main__processing-personal-data-agreement">
        <input type="checkbox" id="agree" class="main__processing-personal-data-agree">
        <label for="agree" class="main__processing-personal-data-agree-label">
          Даю согласие на обработку персональных
          данных. Условия соглашения.
        </label>
      </div>
      <div class="main__submit-form">
        <input class="main__processing-personal-data-submit" type="submit" value="Выслать промокод">
      </div>
    </form>
    <article class="main__how-to-get-tariff-info-message">
      <img src="/images/third_section/completed.svg" alt="Иконка выполненно" loading="lazy">
      <h3 class="info-messagage__text-mesage">
        Промокод был выслан на ваш номер
      </h3>
    </article>
  </article>
  <article class="main__how-to-get-tariff-list-steps">
    <h3 class="main__how-to-get-tariff-title--visually-hidden">
      Список: как получить тариф
    </h3>
    <ul class="main__how-to-get-tariff-list">
      <li class="main__list-item">
        <article class="main__item-step">
          <h3 class="main__step-title--visually-hidden">
            Первый шаг
          </h3>
          <div class="main__step-eclipse">1</div>
          <p class="main__step-description first">
            Ведите свой номер телефона, затем дождитесь
            смс с промокодом для получения Тб
          </p>
        </article>
      </li>
      <li class="main__list-item">
        <article class="main__item-step">
          <h3 class="main__step-title--visually-hidden">
            Второй шаг
          </h3>
          <div class="main__step-eclipse">2</div>
          <p class="main__step-description second">
            Перейдите на сайт Tele2 и активируйте промокод при
            подключении на тариф «Мой Онлайн+»
          </p>
        </article>
      </li>
      <li class="main__list-item">
        <article class="main__item-step">
          <h3 class="main__step-title--visually-hidden">
            Третий шаг
          </h3>
          <div class="main__step-eclipse">3</div>
          <p class="main__step-description third">
            Используйте свой подарочный ТБ от Tele2 
            в течение всего года
          </p>
        </article>
      </li>
    </ul>
  </article>
</section>