<section class="main__tele2-site-information">
  <h2 class="main__tele2-site-information-title--visually-hidden">
    Оформление тарифа на сайте Tele2
  </h2>
  <article class="main__tele2-site-information-about">
    <h3 class="main__link-to-site-slogan">
      Заходите на сайт Tele2
    </h3>
    <p class="main__link-to-site-about">
      Перейдите в магазин, оформите тариф «Мой онлайн+»
      и на страничке активации введите ваш промокод. Готово!
    </p>
  </article>
  <article class="main__tele2-site-information-link-to-site">
    <h3 class="main__tele2-site-information-title--visually-hidden">
      Ссылка на официальный сайт Теле2
    </h3>
    <a href="https://rostov.tele2.ru" class="main__link-to-site" target="_blank">
      <button class="main__link-to-site-link">
        Оформить тариф
      </button>
    </a>
  </article>
  <article class="main__tele2-site-information-image-rate">
    <h3 class="main__image-rate-title--visually-hidden">
      Логотип тарифа «Мой онлайн+»
    </h3>
    <img src="/images/fourth_section/one_tb.png" alt="Картинка 1 терабайта Теле2" class="rate-image" loading="lazy">
  </article>
</section>