<section class="main__slider" data-component="main__slider">
  <h2 class="main__slider-title--visually-hidden">Слайдер</h2>
  <ul class="main__slider-items" tabindex="0"></ul>
  <ul class="main__slider-markers"></ul>
</section>