<section class="main__slider" data-slider="main__slider" data-loop="false" data-autoplay="false">
  <h2 class="main__slider-title--visually-hidden">Слайдер</h2>
  <button class="main__slider-button main__button-prev">&#10094;</button>
  <article class="main__slider-items">
    <h3 class="main__slider-title--visually-hidden">Элементы слайдера</h3>
  </article>  
  <button class="main__slider-button main__button-next">&#10095;</button>
</section>