<dialog class="change-region__modal-window">
  <article class="change-region__content">
    <h2 class="change-region__title">Выберите город</h2>
    <article class="change-region__region-list">
      <h4 class="change-region__title--visually-hidden">
        Список городов
      </h4>
      {{> region-lists }}
    </article>
  </article>
</dialog>