<dialog class="change-region__modal-window">
  <article class="change-region__content">
    <h2 class="change-region__title">Выберите город</h2>
    <article class="change-region__region-list">
      <h4 class="change-region__title--visually-hidden">
        Список городов
      </h4>
      <ul class="change-region__list">
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Воронеж
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="c">
            Иркутск
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Кемерово
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Красноярск
          </button>
        </li>
      </ul>
      <ul class="change-region__list">
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Москва
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Н. Новгород
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Новосибирск
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Пермь
          </button>
        </li>
      </ul>
      <ul class="change-region__list">
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Ростов-на-Дону
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Санкт Петербург
          </button>
        </li>
        <li class="change-region__item-list">
          <button class="change-region__item-button">
            Челябинск
          </button>
        </li>
      </ul>
    </article>
  </article>
</dialog>