<ul class="change-region__list">
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Воронеж
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Иркутск
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Кемерово
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Красноярск
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Москва
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Н. Новгород
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Новосибирск
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Пермь
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Ростов-на-Дону
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Санкт-Петербург
    </button>
  </li>
  <li class="change-region__item-list">
    <button class="change-region__item-button">
      Челябинск
    </button>
  </li>
</ul>