<ul class="main__rate-my-online-list">
  <li class="main__rate-my-online-list-item">
    <article class="main__rate-my-online-list-item-information">
      <div class="main__rate-my-online-list-item-about-favico">
        <img src="/images/second_section/yt.svg" alt="Изображение видео" class="favico-image" loading="lazy">
      </div>
      <h4 class="main__rate-my-online-list-item-about-information">
        Около 500 часов видео
      </h4>
    </article>
  </li>
  <li class="main__rate-my-online-list-item">
    <article class="main__rate-my-online-list-item-information">
      <div class="main__rate-my-online-list-item-about-favico">
        <img src="/images/second_section/headphones.svg" alt="Изображение наушников" class="favico-image"
          loading="lazy">
      </div>
      <h4 class="main__rate-my-online-list-item-about-information">
        Примерно 200 000 песен
      </h4>
    </article>
  </li>
  <li class="main__rate-my-online-list-item">
    <article class="main__rate-my-online-list-item-information">
      <div class="main__rate-my-online-list-item-about-favico">
        <img src="/images/second_section/photocard.svg" alt="Изображение фото" class="favico-image" loading="lazy">
      </div>
      <h4 class="main__rate-my-online-list-item-about-information">
        Порядка 300 000 фото
      </h4>
    </article>
  </li>
</ul>