<article class="header__logo">
  <h1 class="header__title--visually-hidden">
    ТЕЛЕ2 - Тариф «Мой онлайн+» и 1 ТБ трафика
  </h1>
  <img class="tele2-logo" src="/images/tele2_logo.svg" alt="Логотип Теле2" loading="lazy">
</article>
<article class="header__geoposition">
  <h2 class="header__title--visually-hidden">
    Получения геопозиции пользователя
  </h2>
  <button class="header__geoposition-button">
    Санкт-Петербург
  </button>
</article>