<dialog class="user-poppup__modal-window">
  <article class="user-poppup__content">
    <h2 class="user-poppup__title--visually-hidden">Информация пользователя</h2>
    <button class="user-poppup__close-button">{{> cross }}</button>
    <article class="user-poppup__user-content"></article>
  </article>
</dialog>