<dialog class="main__participate-modal-window">
  <article class="main__participate-modal-window-content">
    <h2 class="main__participate-title--visually-hidden">
      Форма принятия участия
    </h2>
    <button class="main__participate-close-button">
      {{> cross }}
    </button>
    {{> tariff-form }}
  </article>
</dialog>