<dialog class="choose-region-question__modal-window">
  <article class="choose-region-question__content">
    <h2 class="choose-region-question__title--visually-hidden">
      Выбор города
    </h2>
    <p class="choose-region-question__question">
      Ваш город Санкт-Петербург?
    </p>
    <section class="choose-region-question__button-section">
      <h3 class="choose-region-question__title--visually-hidden">
        Секция кнопок управления модальным окном
      </h3>
      <button class="choose-region-question__agree-button">
        Да, верно
      </button>
      <button class="choose-region-question__change-city-button">
        Изменить регион
      </button>
    </section>
  </article>
</dialog>