<section class="footer__lower">
  <h2 class="footer__title--visually-hidden">
    Нижняя часть подвала
  </h2>
  <article class="footer__lower-copywriting">
    <img src="/images/footer/tele2_logo_footer.svg" alt="Лого Теле2" class="footer__copywriting-tele2-logo" loading="lazy">
    <h3 class="footer__copy">
      &copy; Tele2 Россия, 2021
    </h3>
  </article>
  <article class="footer__lower-made-by">
    <h3 class="footer__made">
      Сделано в студии Олега Чулакова
    </h3>
    <img src="/images/footer/chulakov.svg" alt="" class="made-by__chulakov-logo" loading="lazy">
  </article>
</section>