<ul class="main__how-to-get-tariff-list">
  <li class="main__item-step">
    <div class="main__step-eclipse">1</div>
    <p class="main__step-description first-offer">
      Ведите свой номер телефона, затем дождитесь
      смс с промокодом для получения Тб
    </p>
  </li>
  <li class="main__item-step">
    <div class="main__step-eclipse">2</div>
    <p class="main__step-description second-offer">
      Перейдите на
      <a class="main__step-description-link" href="https://rostov.tele2.ru" target="_blank">сайт Tele2</a>
      и активируйте промокод при
      подключении на тариф «Мой Онлайн+»
    </p>
  </li>
  <li class="main__item-step">
    <div class="main__step-eclipse">3</div>
    <p class="main__step-description third-offer">
      Используйте свой подарочный ТБ от Tele2
      в течение всего года
    </p>
  </li>
</ul>