<section class="main__how-to-get-tariff">
  <h2 class="main__how-to-get-tariff-slogan">
    Несколько шагов<br>
    <span class="main__how-to-get-tariff-slogan--benefit">
      и 1 ТБ - ваш
    </span>
  </h2>
  <article class="main__how-to-get-tariff-personal-data">
    <h3 class="main__how-to-get-tariff-title--visually-hidden">
      Как получить тариф «Мой онлайн+»
    </h3>
    <form action="GET" class="main__how-to-get-tariff-processing-personal-data">
      <div class="main__processing-personal-data-input-tel-block">
        <input type="tel" id="phone" class="main__processing-personal-data-input-tel">
        <label for="phone" class="main__processing-personal-data-tel-label">
          Номер телефона
        </label>
      </div>
      <div class="main__processing-personal-data-agreement">
        <input type="checkbox" id="agree" class="main__processing-personal-data-agree">
        <label for="agree" class="main__processing-personal-data-agree-label">
          Даю согласие на обработку персональных
          данных. Условия соглашения.
        </label>
      </div>
      <div class="main__submit-form">
        <input class="main__processing-personal-data-submit" type="submit" value="Выслать промокод">
      </div>
    </form>
    <!--Здесь будет стоять информация об отправке сообщения-->
    <article class="main__how-to-get-tariff-info-message">
      <img src="/tele2_landing/images/third_section/completed.svg" alt="Иконка выполненно" loading="lazy">
      <h3 class="info-messagage__text-mesage">
        Промокод был выслан на ваш номер
      </h3>
    </article>
  </article>
  <article class="main__how-to-get-tariff-list-steps">
    <h3 class="main__how-to-get-tariff-title--visually-hidden">
      Список: как получить тариф
    </h3>
    {{> tariff-list }}
  </article>
</section>