<form action="POST" class="main__how-to-get-tariff-processing-personal-data">
  <div class="main__processing-personal-data-input-tel-block">
    <input type="tel" id="phone" class="main__processing-personal-data-input-tel" maxlength="18">
    <label for="phone" class="main__processing-personal-data-tel-label">
      Номер телефона
    </label>
    <article class="main__info-message-phone">
      <h4 class="main__how-to-get-tariff-title--visually-hidden">
        Информационное сообщение для телефонов
      </h4>
    </article>
  </div>
  <div class="main__processing-personal-data-agreement">
    <input type="checkbox" id="agree" class="main__processing-personal-data-agree" required>
    <label for="agree" class="main__processing-personal-data-agree-label">
      Даю согласие на обработку персональных
      данных. <a class="main__processing-link" href="https://rostov.tele2.ru" target="_blank">Условия соглашения</a>.
    </label>
  </div>
  <div class="main__submit-form">
    <input class="main__processing-personal-data-submit" type="submit" value="Выслать промокод" required>
  </div>
  <!--Здесь будет стоять информация об отправке сообщения-->
  <article class="main__info-message-computers">
    <h4 class="main__how-to-get-tariff-title--visually-hidden">
      Информационное сообщение для компьютеров
    </h4>
  </article>
</form>