<ul class="main__how-to-get-tariff-list">
  <li class="main__list-item">
    <article class="main__item-step">
      <h3 class="main__step-title--visually-hidden">
        Первый шаг
      </h3>
      <div class="main__step-eclipse">1</div>
      <p class="main__step-description first-offer">
        Ведите свой номер телефона, затем дождитесь
        смс с промокодом для получения Тб
      </p>
    </article>
  </li>
  <li class="main__list-item">
    <article class="main__item-step">
      <h3 class="main__step-title--visually-hidden">
        Второй шаг
      </h3>
      <div class="main__step-eclipse">2</div>
      <p class="main__step-description second-offer">
        Перейдите на сайт Tele2 и активируйте промокод при
        подключении на тариф «Мой Онлайн+»
      </p>
    </article>
  </li>
  <li class="main__list-item">
    <article class="main__item-step">
      <h3 class="main__step-title--visually-hidden">
        Третий шаг
      </h3>
      <div class="main__step-eclipse">3</div>
      <p class="main__step-description third-offer">
        Используйте свой подарочный ТБ от Tele2
        в течение всего года
      </p>
    </article>
  </li>
</ul>